<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-header">
          <strong>{{nomeTela}}</strong>
        </div>
        <div class="card-body">
          <div *ngIf="!isLoading" class="row">
            <div class="col-sm-2 col-6 mb-3">
              <select ngModel class="form-control" name="statusCategoria" #statusCategoria="ngModel"
                [(ngModel)]="itensPerSize">
                <option *ngFor="let opcao of pageSizeOptions" [value]="opcao">{{opcao}}</option>
              </select>
            </div>
            <div class="col-sm-5 col-6">
              <input [(ngModel)]="busca.valor" type="text" class="form-control" placeholder="Buscar" (keyup)="filter()">
            </div>
            <div class="col-sm-3 col-6">
              <select [(ngModel)]="busca.tipo" class="form-control" name="tipoCategoria" (change)="filter()">
                <option value="">Todos</option>
                <option *ngFor="let opcao of opcaoCategoria" [value]="opcao.tipo">{{opcao.descricao}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-6 mb-3">

              <button type="button" class="pull-right btn btn-success ml-2" [routerLink]="['nova-categoria']"
                data-toggle="tooltip" data-placement="top" title="Incluir nova categoria"><i
                  class="fa fa-plus "></i></button>

              <button [disabled]="categorias.length == 0" type="button" class="pull-right btn btn-xing"
                data-toggle="tooltip" data-placement="top" title="Exportar" (click)="exportToExcel()"><i
                  class="fa fa-download" aria-hidden="true"></i></button>


            </div>
          </div>
          <div *ngIf="isLoading" class="text-center">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class="alert alert-info" role="alert" *ngIf="!isLoading  && categorias.length == 0">
            Nao há registros cadastrados!
          </div>
          <table *ngIf="!isLoading  && categorias.length > 0"
            class="table table-sm table-striped table-borderless" #sheetTable>
            <thead class="thead-dark">
              <tr>
                <th class="">
                </th>
                <th *ngFor="let itemHeader of headerTable" class="text-center">
                  <a [href]="" (click)="sortTable(itemHeader.value)">
                    {{itemHeader.nome}}
                    <span *ngIf="sortType == itemHeader.value && !sortReverse" class="fa fa-caret-down"></span>
                    <span *ngIf="sortType == itemHeader.value && sortReverse" class="fa fa-caret-up"></span>
                  </a>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of categoriasPaginadas">
                <td class="text-left">
                  <div class="btn-group" dropdown>
                    <button dropdownToggle type="button" class="btn">
                      <i class="fa fa-ellipsis-v"></i>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                      <li role="menuitem"><button class="dropdown-item" [routerLink]="['editar-categoria', item.id]"><i
                            class="fa fa-pencil"></i>Editar</button></li>
                      <li role="menuitem"><button class="dropdown-item" (click)="inativarItem(item)"><i
                            class="fa fa-cog"></i>{{item.status == 1 ? 'Inativar':'Ativar'}}</button></li>
                      <li role="menuitem"><button class="dropdown-item" (click)="deleteItem(item)"><i
                            class="fa fa-trash"></i>Excluir</button></li>
                    </ul>
                  </div>
                </td>
                <td class="text-center align-middle"><strong>
                    <span *ngIf="item.tipo === 'D'">Despesa</span>
                    <span *ngIf="item.tipo === 'R'">Receita</span>
                  </strong>
                </td>
                <td class="text-center align-middle">{{item.descricao}}</td>
                <td class="text-center align-middle">
                  <span *ngIf="item.status == 1" class="badge badge-primary">Ativo</span>
                  <span *ngIf="item.status != 1" class="badge badge-secondary">Inativo</span>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-12 mt-3">
              <rlar-pagination [serverSide]="false" [items]="categoriasFiltradas" [pageSize]="itensPerSize"
                [totalItens]="totalItens" (changePage)="onChangePage($event)"></rlar-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>
