<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6">
      <form (submit)="manterCentro(centroForm)" #centroForm="ngForm">
        <div class="card">
          <div class="card-header">
            <strong>Centro</strong>
          </div>
          <div class="card-body">
            <!--/.row-->
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="descCentro">Descrição</label>
                  <input type="text" ngModel class="form-control"
                    [ngClass]="{'is-invalid':descCentro.invalid && descCentro.touched}" name="descCentro"
                    #descCentro="ngModel" [(ngModel)]="centro.descricao" maxlength="20" required>
                  <div *ngIf="descCentro.errors?.required" class="invalid-feedback">
                    Favor preencher o campo Descrição
                  </div>
                </div>
              </div>
            </div>
            <!--/.row-->
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" [(ngModel)]="centro.status" name='status' id="ativo"
                      [value]="1">
                    <label class="form-check-label" for="ativo">Ativo</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" [(ngModel)]="centro.status" name='status' id="inativo"
                      [value]="0">
                    <label class="form-check-label" for="inativo">Inativo</label>
                  </div>
                  <!--<select ngModel class="form-control" name="statusCentro" #statusCentro="ngModel"
                    [(ngModel)]="centro.status">
                    <option value="1">Ativo</option>
                    <option value="0">Inativo</option>
                  </select>-->
                </div>
              </div>
            </div>
            <!--/.row-->
          </div>
          <div class="card-footer">
            <div class="pull-right">
              <button class="btn btn-primary" type="button" [routerLink]="['/cadastro/centro']"> <i class=" fa
                fa-arrow-left mr-2"></i>Voltar</button>
              <button *ngIf="!edit" type="reset" [disabled]="isLoading" class="mr-2 btn btn-danger"><i
                  class="fa fa-ban mr-2"></i>Cancelar</button>
              <button *ngIf="isLoading" type="button" class="btn btn-success" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Cadastrando...
              </button>
              <button *ngIf="!isLoading" type="submit" [disabled]="centroForm.invalid" class="btn btn-success">
                <i *ngIf="edit" class="fa fa-refresh mr-2"></i>
                <i *ngIf="!edit" class="fa fa-plus mr-2"></i>
                <span *ngIf="edit">Atualizar</span>
                <span *ngIf="!edit">Cadastrar</span>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!--/.col-->
  </div>
</div>
